$main-color: #2E3A3F;
$hover-color: #4da3ff;

$phone: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (max-width: 960px)";
$large: "only screen and (max-width: 1200px)";

.card {
  background-color: #fefff5;
  border-color: #d1dfe6;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 16px !important;
  .card-margin {
    margin: 20px;
    padding: 20px;

  }
}

.backgroung-top {
  background-color: #2E3A3F;
  color: #FBFCFD;
  padding-top: 6%;
  padding-bottom: 4%;
  margin-bottom: 2%;
  @media #{$large} {
    padding-top: 7%;
  }
  @media #{$desktop} {
    padding-top: 8%;
  }
  @media #{$tablet} {
    padding-top: 11%;
  }
  @media #{$phone} {
    padding-top: 12%;
  }
}

.left-menu {

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  position: fixed;
  width: 200px;
  left: -200px;
  top: 5%;
  height: 100%;
  background-color: #2E3A3F;

  &.open {
    left: 0px;
  }

  .left-menu-ul {
    position: absolute;
    height: 200px;
    top: 8%;
    right: 20%;

  }
  a {
    color: #FBFCFD !important;
  }
  a:hover {
    color: $hover-color !important;
    background-color: #2c363b !important;
    border-radius: 10px;
  }

}

#menu-toggle {

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  width: 50px;
  height: 50px;
  position: fixed;
  display: block;
  background-color: $main-color;
  border: 1px solid $main-color;
  left: 10px;
  top: 70px;
  cursor: pointer;
  z-index: 100;

  span {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &.open {
    left: 210px;

    & span {

      &:nth-child(2) {
        opacity: 0;
        left: 0px;
      }
      &:nth-child(1) {
        top: 23px;
        height: 3px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        top: 23px;
        height: 3px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
  }

  span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    left: 10px;
    &:nth-child(1) {
      top: 15px;
    }
    &:nth-child(2) {
      top: 25px;
    }
    &:nth-child(3) {
      top: 35px;
    }
  }
  &:hover {
    background-color: $hover-color !important;
    border: 1px solid $hover-color;

  }
}

.btn-site {
  background-color: $main-color;
  color: white;
  font-size: 20px;
  border-radius: 0;
  margin-bottom: 20px;
  &:hover {
    background-color: white;
    border-bottom: solid $main-color;
  }
  &:focus {
    box-shadow: none;
  }
}

.btn-site-active {
  background-color: white;
  color: $main-color;
  font-size: 20px;
  border-radius: 0;
  margin-bottom: 20px;
  &:hover {
    border-bottom: solid $main-color;

  }
  &:focus {
    box-shadow: none;
  }
}

.cameras-box {

  .camera-brand-button {
    display: inline;
    margin: 3px;
    float: left;

  }

  .cameras-list {
    display: none;
  }

  &.expanded {

    .cameras-list {

      display: block;

    }

    .cameras-button:after {
      font-family: FontAwesome;
      content: "\f106";

    }
  }
  .cameras-button:after {
    font-family: FontAwesome;
    content: "\f107";
  }

}
